header{
 margin-bottom: 200px;
 /* background-image: url(/docs/Assets/Frame\ 27158.png); */
}
.Navbar-Section{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    /* margin: 50px 0px 10px; */
}
.Navbar-Section img{
    height: 26px;
    margin-left: 100px;
}
input[type="button"]{
    margin-right: 100px;
    height: 35px;
    border: none;
    height: 48px;
    width: 100px;
}
.banner-title{
    text-align:center; 
    font-size: 65px;
    margin-left: 200px;
    font-weight: bold;
    color: #252432;
    height: 100px ;
    width: 905px;
}
.banner-button{
    margin-left: 570px;
    margin-top: 28px;
    width: 174px;
    height: 48px;
}
.bgc-color{
    border-radius: 5px;
    color: #FFFFFF;
    background-color:#4E47FF;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    color: #747381;
}
.action-button{
     height: 42px;
     width: 229px;
     padding: 5px;
}
.action-section{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 100px 100px;
    
}
.action-1{
    width: 500px;
}
.user-inter{
    display: flex;
    justify-content: space-around;

}
.Productive-User-Section{
    text-align: center;
    background-color: #4d4aec2c;
    padding: 50px 80px;
    margin: 110px;
}
.user-count {
    justify-content: space-around;
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    width: 150px;
    height: 95;  
    text-align: center;
    margin-bottom: 2px;
    margin-top: 20px;
  }
  
.inter-user{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}